@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
.cover {
  transform: perspective(2000px) rotateY(-15deg) translateX(-10px) scaleX(.94);
  transition: 0.3s ease-in-out;
}

.group:hover .cover {
  transform: perspective(2000px) rotateY(0deg) translateX(0) scaleX(1);
}

